@keyframes move {
  to {
    transform: translateX(720px);
  }
}

.home {
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home__title {
  color: white;
  font-size: 4em;
}

.home__content {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;

  .png {
    transform: translateX(-50px);
    animation: move 10s;
    background: purple;
  }

  .picture {
    background: teal;
    text-align: center;
  }

  .empty {

  }
}